.map-container {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border: 4px ridge #ffffff;
  }
  
  .map-wrapper {
    width: 100%;
  }
  
  .map-image {
    width: 100%;
    height: auto;
  }
  
  .map-area {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 0.3s ease;
  }
  
  .map-area:hover {
    background-color: rgba(255, 215, 0, 0.9);
    cursor: url("../../public/LINK SELECT.cur"), auto;
  }
  
  .ferris-wheel {
    top: 35%; 
    left: 40%;
  }
  
  .entrance {
    top: 70%; 
    left: 10%;
  }
  
  .cafe {
    top: 45%;
    left: 75%;
  }
  
  .outlet {
    top: 65%;
    left: 50%;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: fit-content;
    height: 100%;
    max-height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    background-color: red;
  }

  .close-btn:hover {
    background-color: darkred;
  }
  
  .image-container {
    display: flex;
    gap: 10px;
  }
  
  .modal-image {
    width: 250px;
    height: auto;
    border-radius: 5px;
  }
  