/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the body and html take full height */
html, body {
  height: 100%;
  overflow: hidden; /* Prevent scrolling if unwanted */
}

/* Full-screen background */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#ebddca, #b6d2dd,#dea4bd,#a581c4,#60cbb6,#8adcde);
  background-size: 300% 300%;
  animation: gradientAnimation 12s ease infinite;
}

body, .App {
  cursor: url("https://i.imgur.com/i4rCr6Z.png"), auto;
}

/* Content Styling */
.content {
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation Bar */
.nav {
  width: 100%;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
  position: fixed; /* Stick it to the top */
  top: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
  backdrop-filter: blur(10px); /* Smooth glass effect */
}
