/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the body and html take full height */
html, body {
  height: 100%;
}

/* Full-screen background */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

body, .App {
  cursor: url("../public/NORMAL.cur"), auto;
  /*background: linear-gradient(45deg,#3f3995, #3d5b7a,#4ac34e,#398f3b,#3cb267,#34deca);
  background-size: 300% 300%;
  animation: gradientAnimation 12s ease infinite;*/
}

button {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: url("https://i.imgur.com/i4rCr6Z.png"), auto;
}

/* Content Styling */
.content {
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation Bar */
.nav {
  width: 100%;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
  position: fixed; /* Stick it to the top */
  top: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
  backdrop-filter: blur(10px); /* Smooth glass effect */
  display: flex;
  justify-content: center;
  align-items: center;
}
